<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/graficas/Ingresos">Ingresos</a>
      <a mat-list-item routerLink="/graficas/Platos+Vendidos">Platos Más Vendidos</a>
<!--      <a mat-list-item routerLink="/graficas/dona-prime-ng">Dona PrimeNG</a>-->
<!--      <a mat-list-item routerLink="/graficas/barras-prime-ng">Barras PrimeNG</a>-->
<!--      <a mat-list-item routerLink="/graficas/usuarios">Registro de Usuarios</a>-->
      <a mat-list-item routerLink="/gerente/">Pedidos</a>
      <a mat-list-item routerLink="/clientes/">Clientes</a>
      <a mat-list-item routerLink="/stock/">Artículos</a>
      <a mat-list-item routerLink="/platos/">Platos</a>
      <a mat-list-item routerLink="/comanda/" *ngIf="authority === 'admin' || authority==='empleado'">Comandas</a>
      <a mat-list-item routerLink="/historial-cocina/" *ngIf="authority === 'admin' || authority==='empleado'">Historial Cocina</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Reportes</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
