<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/comanda/" *ngIf="authority === 'admin' || authority==='empleado'">Comandas</a>
      <a mat-list-item routerLink="/historial-cocina/" *ngIf="authority === 'admin' || authority==='empleado'">Historial Cocina</a>
      <a mat-list-item routerLink="/graficas/PedidosPorPeriodo" *ngIf="authority === 'admin'">Reportes Lineas</a>
      <a mat-list-item routerLink="/graficas/Platos+Vendidos" *ngIf="authority === 'admin'">Reportes Barras</a>
      <a mat-list-item routerLink="/graficas/dona-prime-ng" *ngIf="authority === 'admin'">Dona PrimeNG</a>
      <a mat-list-item routerLink="/graficas/barras-prime-ng" *ngIf="authority === 'admin'">Barras PrimeNG</a>
      <a mat-list-item routerLink="/graficas/usuarios" *ngIf="authority === 'admin'">Registro de Usuarios</a>
      <a mat-list-item routerLink="/gerente/" *ngIf="authority === 'admin' || authority==='empleado'">Listado de Pedidos</a>
      <a mat-list-item routerLink="/clientes/" *ngIf="authority === 'admin'">Listado de Clientes</a>
      <a mat-list-item routerLink="/stock/" *ngIf="authority === 'admin' || authority==='empleado'">Stock de Productos</a>
      <a mat-list-item routerLink="/platos/" *ngIf="authority === 'admin' || authority==='empleado'">Menú</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Reportes</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
