<ngb-tabset type="pills nav-fill nav-justify">

  <ngb-tab title="Cocina">
    <ng-template ngbTabContent>
      <div *ngFor="let comanda of comandas" >
        <div *ngIf="comanda.estadoListo === false && comanda.fechaAnulado === null" class="card bg mb-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="card-header">
            Comanda {{comanda.numPedido}}
          </div>
          <div class="card-body">
            <div *ngFor="let dCom of detComanda">
              <p *ngIf="dCom.pedido.numPedido===comanda.numPedido" class="card-text">
                {{dCom.manufacturado.nombreManufacturado}} x{{dCom.cantidad}};
              </p>
            </div>
            <br>
            <div>
              <p>
                Estimado: {{Estimado(comanda.numPedido)}} Minutos.
                {{Agregado}}
              </p>
            </div>
            <p>Observaciones: {{comanda.observaciones}}</p>
            <p>{{comanda.fecha | date : "short": 'GMT'}}</p>

            <select matNativeControl [(ngModel)]="Agregado" name="time">
              <option value="">Sin Retraso</option>
              <option *ngFor="let t of times" [value]="t.value">
                {{t.viewValue}}
              </option>
            </select>
          </div>
          <div class="card-footer Botonera">
            <button class="Boton" (click)=Ready(comanda.numPedido) id="Aceptar" ><img src="assets/Imagenes Cocina/Aceptar.jpeg"></button>
            <button class="Boton" (click)="open(content)"><img src="assets/Imagenes Cocina/Alerta.png"> ¡ALERTA! </button>
            <button class="Boton" (click)=Cancel(comanda.numPedido) id="Cancelar"><img src="assets/Imagenes Cocina/Cancelar.png"></button>
          </div>
        </div>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Alerta</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <fieldset>
                <legend>Indique Índole de Alerta</legend>

                <input type="radio" name="causa" value="acc"> Accidente - Emergencia Médica <br>
                <input type="radio" name="causa" value="impr"> Imprevistos Técnicos/Equipamiento <br>
                <input type="radio" name="causa" value="otro"> Otros
              </fieldset>
              <fieldset>
                <legend>Comanda Afectada</legend>
                Comanda N° <input type="number" name="numero" min="1" [disabled]="isDisabled"><br>
                <input type="checkbox" name="comanda" (change)="triggerSomeEvent()"> Todas las Comandas
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Aceptar</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancelar</button>
        </div>
      </ng-template>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Stock">
    <ng-template ngbTabContent>
      <app-stock></app-stock>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Historial">
    <ng-template ngbTabContent>
      <div>
        <h4>Historial de Pedidos Realizados</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">N° Pedido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Detalle</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comanda of comandas">
            <th scope="row">{{comanda.numPedido}}</th>
            <td>{{comanda.cliente.nombre_persona}}</td>
            <td>{{comanda.estadoListo}}</td>
            <td>{{comanda.observaciones}}</td>
          </tr>
          </tbody>
        </table>
        <h4>Historial de Comandas Canceladas</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nombre / Usuario</th>
            <th scope="col">N° de Pedido</th>
            <!--<th scope="col">Detalle de Pedido</th>-->
            <th scope="col">Hora de Pedido</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comanda of comandas">
                <td scope="row">{{comanda.cliente.nombre_persona}} ({{comanda.cliente.nombre_usuario}})</td>
                <td>{{comanda.numPedido}}</td>
                <!--<td></td>-->
                <td>{{comanda.fecha | date : "shortTime": 'GMT'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4>Historial de Platos Realizados</h4>
        <table>
          <thead>
          <tr></tr>
          </thead>

          <tbody>
          <tr>
            <th scope="row"></th>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
