<ngb-tabset type="pills nav-fill nav justify">

  <ngb-tab title="Cocina">
    <ng-template ngbTabContent>
      <div class="card bg-success mb-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" >
        <div class="card-header">
          Comanda 1
        </div>
        <div class="card-body">
          <p class="card-text">
            Empanadas x12
            <br>
            Pizza Muzzarella x4
          </p>
          <p>
            Nota: Lucas Puto!!!
          </p>
          <select name="" id="">
            <option value="">Sin Retraso</option>
            <option value="">Retrasar 5'</option>
            <option value="">Retrasar 10'</option>
            <option value="">Retrasar 20'</option>
            <option value="">Retrasar 30'</option>
          </select>
        </div>
        <div class="card-footer Botonera">
          <button class="Boton" id="Aceptar" ><img src="assets/Imagenes Cocina/Aceptar.jpeg" alt=""></button>
          <button class="Boton" id="Alerta"><img src="assets/Imagenes Cocina/Alerta.png" alt=""> !ALERTA¡ </button>
          <button class="Boton" id="Cancelar"><img src="assets/Imagenes Cocina/Cancelar.png" alt=""></button>
        </div>
      </div>

      <div class="card bg-warning mb-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" >
        <div class="card-header">
          Comanda 1
        </div>
        <div class="card-body">
          <p class="card-text">
            Empanadas x12
            <br>
            Pizza Muzzarella x4
          </p>
          <p>
            Nota: Lucas Puto!!!
          </p>
          <select name="" id="">
            <option value="">Sin Retraso</option>
            <option value="">Retrasar 5'</option>
            <option value="">Retrasar 10'</option>
            <option value="">Retrasar 20'</option>
            <option value="">Retrasar 30'</option>
          </select>
        </div>
        <div class="card-footer Botonera">
          <button class="Boton" id="Aceptar" ><img src="assets/Imagenes Cocina/Aceptar.jpeg" alt=""></button>
          <button class="Boton" id="Alerta"><img src="assets/Imagenes Cocina/Alerta.png" alt=""> !ALERTA¡ </button>
          <button class="Boton" id="Cancelar"><img src="assets/Imagenes Cocina/Cancelar.png" alt=""></button>
        </div>
      </div>

      <div class="card bg-danger mb-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" >
        <div class="card-header">
          Comanda 1
        </div>
        <div class="card-body">
          <p class="card-text">
            Empanadas x12
            <br>
            Pizza Muzzarella x4
          </p>
          <p>
            Nota: Lucas Puto!!!
          </p>
          <select name="" id="">
            <option value="">Sin Retraso</option>
            <option value="">Retrasar 5'</option>
            <option value="">Retrasar 10'</option>
            <option value="">Retrasar 20'</option>
            <option value="">Retrasar 30'</option>
          </select>
        </div>
        <div class="card-footer Botonera">
          <button class="Boton" id="Aceptar" ><img src="assets/Imagenes Cocina/Aceptar.jpeg" alt=""></button>
          <button class="Boton" id="Alerta"><img src="assets/Imagenes Cocina/Alerta.png" alt=""> !ALERTA¡ </button>
          <button class="Boton" id="Cancelar"><img src="assets/Imagenes Cocina/Cancelar.png" alt=""></button>
        </div>
      </div>

      <div class="card bg-dark mb-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" >
        <div class="card-header">
          Comanda 1
        </div>
        <div class="card-body">
          <p class="card-text">
            Empanadas x12
            <br>
            Pizza Muzzarella x4
          </p>
          <p>
            Nota: Lucas Puto!!!
          </p>
          <select name="" id="">
            <option value="">Sin Retraso</option>
            <option value="">Retrasar 5'</option>
            <option value="">Retrasar 10'</option>
            <option value="">Retrasar 20'</option>
            <option value="">Retrasar 30'</option>
          </select>
        </div>
        <div class="card-footer Botonera">
          <button class="Boton" id="Aceptar" ><img src="assets/Imagenes Cocina/Aceptar.jpeg" alt=""></button>
          <button class="Boton" id="Alerta"><img src="assets/Imagenes Cocina/Alerta.png" alt=""> !ALERTA¡ </button>
          <button class="Boton" id="Cancelar"><img src="assets/Imagenes Cocina/Cancelar.png" alt=""></button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Stock">
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab>

  <ngb-tab title="Historial">
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab>

</ngb-tabset>
