<div>
<ngb-tabset type="pills nav-fill nav-justify">
  <ngb-tab title="Cocina">
    <ng-template ngbTabContent>
      <button type="button" class="btn btn-warning btn-block btn-lg Boton " (click)="open(content)"><img src="assets/Imagenes Cocina/Alerta.png"> ¡ALERTA! </button>
      <div class="card-deck">
      <div *ngFor="let comanda of comandas">
        <div *ngIf="comanda.estadoListo === false && comanda.fechaAnulado === null" class="card bg-light mb-3">
          <div class="card-header">
            Comanda {{comanda.numPedido}}
          </div>
          <div class="card-body">
            <div *ngFor="let dCom of detComanda">
              <p *ngIf="dCom.pedido.numPedido===comanda.numPedido" class="card-text">
                {{dCom.manufacturado.nombre_articuloM}} x{{dCom.cantidad}}
              </p>
            </div>
            <br>
            <p>
              Estimado: {{Estimado(comanda.numPedido)}} Minutos.
              <span *ngIf="comanda.demora !== 0" class="badge badge-info">Demora: +{{comanda.demora}} Minutos.</span>
            </p>
            <p>Observaciones: {{comanda.observaciones}}</p>
            <p>{{comanda.fecha | date : "short": 'GMT'}}</p>
            <div class="demora">
              <button type="button" class="btn btn-secondary text-white" id="suma" (click)="Actions(comanda.numPedido, $event)" [disabled]="comanda.demora === 30">(+5)</button>
              <button type="button" class="btn btn-secondary text-white" id="resta" (click)="Actions(comanda.numPedido, $event)" [disabled]="comanda.demora === 0">(-5)</button>
            </div>
          </div>
          <div class="card-footer Botonera">
            <button type="button" class="btn btn-success Boton" (click)="Actions(comanda.numPedido, $event)" id="aceptar" ><img src="assets/Imagenes Cocina/Aceptar.png"></button>
            <button type="button" class="btn btn-danger Boton" (click)="Actions(comanda.numPedido, $event)" id="cancelar"><img src="assets/Imagenes Cocina/Cancelar.png"></button>
          </div>
        </div>
      </div>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Alerta</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <fieldset>
                <legend>Indique Índole de Alerta</legend>
                <input type="radio" name="causa" value="acc"> Accidente - Emergencia Médica <br>
                <input type="radio" name="causa" value="impr"> Imprevistos Técnicos/Equipamiento <br>
                <input type="radio" name="causa" value="otro"> Otros<br>
                <textarea name="descargo" placeholder="Describa Brevemente el tipo de Alerta Ocurrido..." cols="45" rows="4"></textarea>
              </fieldset>
              <fieldset>
                <legend>Comanda Afectada</legend>
                Comanda N° <input type="number" name="numero" min="1" max="{{comandas.length}}" [disabled]="isDisabled"><br>
                <input type="checkbox" id="comanda" (change)="triggerSomeEvent()"> Todas las Comandas
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Aceptar</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancelar</button>
        </div>
      </ng-template>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Stock">
    <ng-template ngbTabContent>
      <app-stock></app-stock>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Historial">
    <ng-template ngbTabContent>
      <div>
        <h4>Historial de Pedidos Realizados</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">N° Pedido</th>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Detalle de Pedido</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comanda of comandas">
            <ng-container *ngIf="comanda.estadoListo === true">
              <th scope="row">{{comanda.numPedido}}</th>
              <td>{{comanda.cliente.nombre_persona}}</td>
              <td [innerHTML]="comanda.informe | separador"></td>
            </ng-container>
          </tr>
          </tbody>
        </table>
        <h4>Historial de Comandas Canceladas</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nombre / Usuario</th>
            <th scope="col">N° de Pedido</th>
            <th scope="col">Detalle de Pedido</th>
            <th scope="col">Hora de Pedido</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comanda of comandas">
              <ng-container *ngIf="comanda.estadoListo === false && comanda.fechaAnulado !== null">
                <td scope="row">{{comanda.cliente.nombre_persona}} ({{comanda.cliente.nombre_usuario}})</td>
                <td>{{comanda.numPedido}}</td>
                <td [innerHTML]="comanda.informe | separador"></td>
                <td>{{comanda.fecha | date : "shortTime": 'GMT'}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4>Historial de Platos Realizados</h4>
        <table>
          <thead>
          <tr></tr>
          </thead>

          <tbody>
          <tr>
            <th scope="row"></th>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>
