<div class="tienda">
  <nav aria-label="Tienda">
    <ul class="pagination justify-content-center">
      <li class="page-item "><a class="page-link button" (click)="cambiarCategoria('pizza')">Pizzas</a></li>
      <li class="page-item "><a class="page-link button" (click)="cambiarCategoria('empanada')">Empanadas</a></li>
      <li class="page-item "><a class="page-link button" (click)='cambiarCategoria("hamburguesa")'>Hamburguesas</a></li>
      <li class="page-item "><a class="page-link button" (click)='cambiarCategoria("bebida")'>Bebidas</a></li>
    </ul>
  </nav>
  <div>
    <app-articulos-manufacturados [childMessage]="parentMessage"> </app-articulos-manufacturados>
    
  </div>
</div>
