h1 {
  color: floralwhite;
  font-weight: normal;
  font-family: fantasy;
  font-size: 100px;
  align-self: center;
  text-align: center;
  background-color: rgb(18, 212, 187);
}
.card-columns {
  width: 90%;
  align-self: center;
  column-count: 3;
  padding-left: 30px;
}
.card-columns img{
   width: 95%;
   height: 150px;
   margin: auto;
 }


div.card.border-dark {
  position: relative; /*-ms-page;
   max-width: 25rem;
  */
  align-content: center;
  align-self: center;
  text-align: center;
  width: 300px;
  height: 350px;
  margin: 30px;
}
.carrito {
  padding-top: 10px;
  text-align: center;
}
.material {
  margin: 3px;
  text-align: center;
}
.button {
  background-color: rgba(255, 194, 62, 0.8);
  border-radius: 6px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  margin-left: 5px;
}
.button:hover {
  background-color: #fb7e29;
  color: #fff;
}
