<app-menu-gerente>
    <div class="container">
      <br>
      <div class="container">
        <br>
        <app-search></app-search>
        <button (click)="nuevoPlato()" class="btn btn-info" style="margin-left: 10px; ">Crear nuevo registro</button>
      </div>
      <div class="card bg-light mb-3">
        <div class="class-header">
          <br>
          <h3 class="text-center">Menú</h3>
          <hr>
        </div>
        <div class="card-body">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Foto</th>
                  <th>Nombre</th>
                  <th>Detalles</th>
                  <th>Tiempo de elaboración</th>
                  <th>Categoría</th>
                  <th>Precio</th>
                  <th>Receta</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of platos; let i = index" class="text-center">
                  <th scope="row">{{i+1}}</th>
                  <td>Hardcode: acá va la foto</td>
                  <td>{{item.nombre_articuloM}}</td>
                  <td>{{item.detalle}}</td>
                  <td>{{item.minutosPrep}}</td>
                  <td>{{item.categoriaManuf.nombre_categoria}}</td>
                  <td>{{item.precioM}}</td>
                  <td>
                      <button (click)="verReceta()" class="btn btn-info">Ver Receta</button>
                  </td>
                  <td>
                    <button (click)="editarPlato(item)" class="btn btn-warning">Editar</button>                  
                  </td>
                  <td>
                      <button (click)="bajaPlato(item)" class="btn btn-danger">Baja</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="class-header">
          <br>
          <h3 class="text-center">Platos fuera del menú</h3>
          <hr>
        </div>
        <div class="card-body">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Detalles</th>
                  <th>Tiempo de elaboración</th>
                  <th>Categoría</th>
                  <th>Precio</th>
                  <th>Receta</th>
                </tr>
              </thead>
              <tbody data-spy="scroll" data-offset="0" class="scrollspy-example">
                <tr *ngFor="let item of platosViejos; let i = index" class="text-center">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.nombre_articuloM}}</td>
                  <td>{{item.detalle}}</td>
                  <td>{{item.minutosPrep}}</td>
                  <td>{{item.categoriaManuf.nombre_categoria}}</td>
                  <td>{{item.precioM}}</td>
                  <td>
                      <button (click)="verReceta()" class="btn btn-info">Ver Receta</button>
                  </td>
                  <td>
                    <button (click)="editarPlato(item)" class="btn btn-warning">Editar</button>                  
                  </td>
                  <td>
                      <button (click)="altaPlato(item)" class="btn btn-info">Incluir a menú</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </app-menu-gerente>