.header-app{
    text-align: center;
}
.btn-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    width: 120px;
    height: 70px;
    text-align: center;
    line-height: 20px;
}
li{
    text-decoration: underline;
    padding: 0.3rem 0;
    list-style: none;
}
