<app-menu-gerente>
  <div class="container" col-md-6>
    <br>
    <div class="card">
      <div class="class-header">
        <br>
        <h3 class="text-center">Agregar Producto al Stock</h3>
        <hr>
      </div>
      <div class="card-body">
        <form *ngIf="categorias && medidas">
          <div class="form-group">
            <label for="">Nombre:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="art.nombre_articulo">
          </div>
          <div class="form-group">
            <label for="">Costo:</label>
            <input type="text" class="form-control" name="costo" [(ngModel)]="art.costo">
          </div>

          <label for="">¿Es materia prima/insumo?</label>
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input id="si" name="prima" type="radio" class="custom-control-input" [value]="true"
                [(ngModel)]="art.esPrima">
              <label class="custom-control-label" for="si">Si</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="no" name="prima" type="radio" class="custom-control-input" [value]="false"
                [(ngModel)]="art.esPrima">
              <label class="custom-control-label" for="no">No</label>
            </div>
          </div>

          <div class="form-group">
            <label for="">Stock:</label>
            <input type="text" class="form-control" name="stock" [(ngModel)]="art.stock">
          </div>

          
          <label for="">Unidad de medida:</label>
          <div class="form-group">
            <select [(ngModel)]="med" name="med">
              <option *ngFor="let medida of medidas" [ngValue]="medida">
                {{medida.tipo_medida}}
              </option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="">Stock Minimo:</label>
            <input type="text" class="form-control" name="stockMinimo" [(ngModel)]="art.stockMinimo">
          </div>

          <div class="form-group">
            <label for="">Detalles:</label>
            <input type="text" class="form-control" name="detalle" [(ngModel)]="art.detalle">
          </div>

          <div class="form-group">
            <label for="">Precio de venta:</label>
            <input type="text" class="form-control" name="precioA" [(ngModel)]="art.precioA">
          </div>

          <label for="">Categoría / clasificación:</label>
          <div class="form-group">
            <select [(ngModel)]="cat" name="cat">
              <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                {{categoria.nombre_categoria}}</option>
            </select>
          </div>

          <div class="botones">
            <button (click)="Guardar(cat, med)" class="btn btn-success btn-lg btn-block">Guardar</button>
            <button (click)="Volver()" class="btn btn-danger btn-lg btn-block">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-menu-gerente>