.button {
  background-color: #673ab7;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10px;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  margin-left: 5px;
}
.button:hover {
  background-color: rgba(103,58,183,0.8);
  color: #fff;
}
