<br>
<div class="container">
  <div class="card bg-light mb-3">
    <br>
    <h3 class="text-center">Carro de Compra</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Imagen</th>
          <th scope="col">Descripciòn</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carroAux of carroM; let i = index">
          <td>{{carroAux.nombre_articuloM}}</td>
          <td><img class="card-img-top" src="{{carroAux.foto}}" [alt]="carroAux"></td>
          <td>{{carroAux.detalle}}</td>
          <td>{{carroAux.precioM}}</td>
          <td>
              <input id="cantidadM" type="number" value="1" min="1" max="10" step="1"/>
          </td>
          <td>
            {{calcularSubtotal(1,carroAux.precioM)}}
          </td>
        </tr>
        <tr *ngFor="let carroAux of carroA; let i = index">
            <td>{{carroAux.nombre_articulo}}</td>
            <td><img class="card-img-top" src="{{carroAux.foto}}" [alt]="carroAux"></td>
            <td>{{carroAux.detalle}}</td>
            <td>{{carroAux.precioA}}</td>
            <td>
                <input id="cantidadA" type="number" value="1" min="1" max="10" step="1"/>
            </td>
            <td>
              {{calcularSubtotal(1,carroAux.precioA)}}
            </td>
          </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th>Total</th>
          <td>$</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="container">
  <div class="card bg-light mb-3">
    <br>
    <h5 class="text-center">Seleccione el tipo de envío</h5>
    <hr>
    <fieldset id="group1" class="radio">
      <input class="btn1" type="radio" value="value1" name="group1">
      Envío a Domicilio (colocar precio)
      <input class="btn2" type="radio" value="value2" name="group1">
      Retiro en Tienda
    </fieldset>
    <br>
  </div>
</div>
