.radio {
  margin-left: 20%;
  margin-right: 20%;
}
.btn2 {
  margin-left: 50%;
}
.img{
  max-width:110px;
  max-height: 90px;
  margin: auto;
}
#finalizar{
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  width: auto;
}
.rigth{
  margin-top: 5px;
  margin-left: 35%;
  margin-right: 30%;
  margin-bottom: 30px;
}
.left{
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 5%;
  width: 90%;

}
.card-columns{
  column-count: 2;
}