<app-menu-gerente>
  
  <div class="container">
    <div class="container">
      <app-search></app-search>
      <button (click)="nuevoPlato()" class="btn btn-info btn-block" style="margin-left: 0px; ">Crear nuevo
        registro</button>
      <br>
    </div>

    <div class="card bg-light mb-3">
      <div class="class-header">
        <br>
        <h3 class="text-center">Menú</h3>
      </div>
      <div class="card-body">


        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover" id="tabla1">
            <thead>
              <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Detalles</th>
                <th>Tiempo de elaboración</th>
                <th>Categoría</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of platos; let i = index" class="text-center">
                <th scope="row">{{i+1}}</th>
                <td>Hardcode: acá va la foto</td>
                <td>{{item.nombre_articuloM}}</td>
                <td>{{item.detalle}}</td>
                <td>{{item.minutosPrep}}</td>
                <td>{{item.categoriaManuf.nombre_categoria}}</td>
                <td>{{item.precioM | currency}}</td>
                <td>
                  <button (click)="armarDato(item)" type="button" data-toggle="modal" data-target="#modalIngredientes" class="btn btn-info">Ingr.</button>
                </td>
                <td>
                  <button (click)="editarPlato(item)" class="btn btn-warning">Editar</button>
                </td>
                <td>
                  <button (click)="bajaPlato(item)" class="btn btn-danger">Baja</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="class-header">
        <hr>
        <h3 class="text-center">Platos fuera del menú</h3>
      </div>
      <div class="card-body">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover" id="tabla2">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Detalles</th>
                <th>Tiempo de elaboración</th>
                <th>Categoría</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody data-spy="scroll" data-offset="0" class="scrollspy-example">
              <tr *ngFor="let item of platosViejos; let i = index" class="text-center">
                <th scope="row">{{i+1}}</th>
                <td>{{item.nombre_articuloM}}</td>
                <td>{{item.detalle}}</td>
                <td>{{item.minutosPrep}}</td>
                <td>{{item.categoriaManuf.nombre_categoria}}</td>
                <td>{{item.precioM | currency}}</td>
                <td>
                  <button (click)="armarDato(item)" type="button" data-toggle="modal" data-target="#modalIngredientes" class="btn btn-info">Ingr</button>
                </td>
                <td>
                  <button (click)="editarPlato(item)" class="btn btn-warning">Editar</button>
                </td>
                <td>
                  <button (click)="altaPlato(item)" class="btn btn-success">Incluir</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</app-menu-gerente>

  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalIngredientes">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="modalIngredientes" tabindex="-1" role="dialog"
    aria-labelledby="modalIngredientesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalIngredientesTitle">Ingredientes:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="collection">
            <li *ngFor="let ingrediente of ingredientes">
              <span>{{ingrediente.articulo.nombre_articulo}}  x 
                {{ingrediente.cantidad}}  {{ingrediente.articulo.medidaProd.tipo_medida}}</span>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>