<div class="card-columns">
  <div class="card border-dark " *ngFor="let articuloAux of articulos; let i = index"> <img class="card-img-top"
      src="{{articuloAux.foto}}" [alt]="articuloAux">
    <div class="card-body">
      <h4 class="card-title">{{articuloAux.nombre_articulo}}</h4>
      <h5 class="card-title">{{articuloAux.precioA}}</h5>
      <ng-template #popContent><b>{{articuloAux.detalle}}</b></ng-template>
      <ng-template #popTitle>Ingredientes</ng-template>
      <button type="button" class="btn btn-outline-primary btn-block" placement="bottom" [ngbPopover]="popContent"
        [popoverTitle]="popTitle">
        Detalles
      </button>
      <div class="carrito">
        Agregar al carrito
        <img class="carro" src="../../assets/carrito.png">
      </div>
    </div>
  </div>
</div>
