<div class="card-columns">
  <ng-container *ngFor="let articuloAux of articulos; let i = index">
    <div class="card border-dark" *ngIf="articuloAux.categoriaProd.id_categoria == childMessage">
      <img class="card-img-top" src="{{articuloAux.foto}}" [alt]="articuloAux">
      <div class="card-body">
        <h4 class="card-title">{{articuloAux.nombreArticulo}}</h4>
        <h4> {{articuloAux.precioA|currency}}</h4>
        <ng-template #popContent><b>{{articuloAux.detalle}}</b></ng-template>
        <ng-template #popTitle>Ingredientes</ng-template>
        <button type="button" class="btn btn-outline-primary btn-block" placement="bottom" [ngbPopover]="popContent"
          [popoverTitle]="popTitle">
          Detalles
        </button>
        <div (click)="cargarAlCarrito(articuloAux)" class="carrito">
          Agregar al carrito
          <button mat-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div>
  <button class="button" (click)="enviarCarrito(carrito)">
    Continuar
  </button>
</div>
