.navbar{
  background: rgba(255,194,62,0.62);/*background: rgba(255,191,32,0.50);*/
  font-size: 20px;
  padding: 10px;
}
.moto{
  padding: 5px 15px;
  width: 130px;
  height: 60px;
}
.logo{
  padding: 0px 10px;
  width: 200px;
  height: 50px;
  margin-right: 20px;
  margin-top: -10px;
}
.btn {
  font-size: 22px;
  /*background: rgba(255,191,32,0.5);*/
  max-height: 45px;
  margin-top: 5px;
}

h2{
  font-family: "Copperplate Gothic Light";
  font-size: 40px;
  font-weight: bold;
  font-style: oblique;
  margin-right: 150px;
}

.button {
background-color: rgba(255,194,62,0.8);
border-radius: 6px;
border: none;
color: black;
cursor: pointer;
font-size: 16px;
padding: 10px 10px;
text-align: center;
text-transform: uppercase;
width: auto;
  margin-left: 5px;
}
.button:hover {
background-color: #FB7E29;
color: #fff;

}

