<div class="class-header">
  <br>
  <h3 class="text-center">Listado de pedidos</h3>
  <hr>
</div>

<div class="example-header mat-elevation-z8 filtro">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
           placeholder="Buscar Pedido">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <!--  Columna ID-->
    <ng-container matColumnDef="numPedido">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nro Pedido</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.numPedido}} </mat-cell>
    </ng-container>

    <!-- Cliente -->
    <ng-container matColumnDef="nombreCliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cliente.nombreUsuario}} </mat-cell>
    </ng-container>

    <!-- Telefono -->
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cliente.telefono}} </mat-cell>
    </ng-container>

    <!-- Detalle Pedido -->
    <ng-container matColumnDef="detallePedido">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Detalle</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.informe}}</mat-cell>
    </ng-container>

    <!-- Estado
    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estadoListo}} </mat-cell>
    </ng-container>-->

    <!-- Total -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.total|currency}} </mat-cell>
    </ng-container>
    
    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row"><mat-icon (click)="eliminarPedido(row.id)">delete</mat-icon></mat-cell>
      <mat-cell *matCellDef="let row"><mat-icon (click)="modificarPedido(row.id)">update</mat-icon></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
