.mat-sort-header-container {
  align-items: center;
  max-width: 50px;
  text-align: center;

}
.td-mat-cell{
  max-width: 50px;
  border: 1px solid;
  padding: 10px 10px;
  text-align: center;
}
/*.filtro{
  margin: 1px 30px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
}*/

.table{
  width: auto;
  padding: 20px 30px;
  margin-bottom: 20%;
  margin-left: 50px;
  margin-right: 50px;
  /*position: relative;
  float: top;*/
}
.mat-icon{
  cursor: pointer;
}
