.mat-sort-header-container {
    align-items: center;
    
  }
.filtro{
  max-width: 300px;
}
mat-table{
  width: 95%;
  padding: 50px;
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 20px;
}
.mat-icon{
  cursor: pointer;
}
