.mat-sort-header-container {
    align-items: center;
    
  }
.filtro{
  margin: 1px 30px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
}
mat-table{
  width: 95%;
  padding: 50px;
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 20px;
}
.mat-icon{
  cursor: pointer;
}
