<app-menu-gerente>
  <div class="flex graphs">
    <div class="class-header">
      <h3 class="text-center">Reporte Lineas</h3>
      <hr>
    </div>
<!--    Fecha-->
    <div>
      <mat-form-field color="accent">
        <mat-label>Fecha de inicio</mat-label>
        <label>
          <input matInput [matDatepicker]="picker1" name="dp" [(ngModel)]="model1">
        </label>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>

      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Fecha fin</mat-label>
        <label>
          <input matInput [matDatepicker]="picker2" name="dp" [(ngModel)]="model2">
        </label>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>

      <button mat-button mat-raised-button color="primary" (click)="buscar()">Buscar</button>
    </div>

<!--    Grafico-->
    <div class="flex-item">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="flex-item">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
      <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
    </div>
  </div>
</app-menu-gerente>
