<app-menu-gerente>
  <div class="container">
    <br>
    <div class="container">
      <app-search></app-search>
      <button (click)="nuevoArticulo()" class="btn btn-info" >Cargar Articulo</button>
      <br>
      <br>
    </div>
    <div class="card bg-light mb-3">
      <div class="class-header">
        <br>
        <h3 class="text-center">Stock mercadería para venta</h3>
        <hr>
      </div>
      <div class="card-body">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Detalle</th>
                <th>Categoría</th>
                <th>Stock</th>
                <th>Unidad de Medida</th>
                <th>Stock Mínimo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mercancia; let i = index" class="text-center">
                <th scope="row">{{i+1}}</th>
                <td>{{item.foto}}</td>
                <td>{{item.nombre_articulo}}</td>
                <td>{{item.detalle}}</td>
                <td>{{item.categoriaProd.nombre_categoria}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.medidaProd.tipo_medida}}</td>
                <td>{{item.stockMinimo}}</td>
                <td>
                  <button mat-button (click)="editarArticulo(item)"><mat-icon>edit</mat-icon></button>
                  <button mat-button (click)="bajaArticulo(item)"><mat-icon>delete</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="class-header">
        <app-search></app-search>
        <br>
        <h3 class="text-center">Stock ingredientes</h3>
        <hr>
      </div>
      <div class="card-body">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Detalle</th>
                <th>Stock</th>
                <th>Stock Mínimo</th>
                <th>Categoría</th>
                <th>Unidad de Medida</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody data-spy="scroll" data-offset="0" class="scrollspy-example">
              <tr *ngFor="let articulo of articulos; let i = index" class="text-center">
                <th scope="row">{{i+1}}</th>
                <td>{{articulo.nombre_articulo}}</td>
                <td>{{articulo.detalle}}</td>
                <td>{{articulo.stock}}</td>
                <td>{{articulo.stockMinimo}}</td>
                <td>{{articulo.categoriaProd.nombre_categoria}}</td>
                <td>{{articulo.medidaProd.tipo_medida}}</td>
                <td>
                  <button mat-button (click)="editarArticulo(articulo)"><mat-icon>edit</mat-icon></button>
                  <button mat-button (click)="bajaArticulo(articulo)"><mat-icon>delete</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-menu-gerente>
